<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href='main.css'>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
              <h1 class="heading">Welcome to the ENEC official voting site</h1>
      <div class="container">
            <p class="heading "><i>please note....</i><br><br> This is not a legal and legitimate voting web app. It was created just for fun and web application practice.</p>
        <div class= "image-grid">
          <img src=""class="image-grid-col-2 image-grid-row-2" alt="elect">
          <img src="" alt="elect">
          <img src="" alt="elect">
          <img src="" alt="elect">
          <img src="" alt="elect">
        
        </div>
        <a href="/vote" class="button">Vote Now!</a >
      </div>
    </main>
      <%- include('./partials/footer.ejs') %>
  </body>
  </html>