 <!DOCTYPE html>
<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Election</title>
  <link rel = "stylesheet" href = "main.css">
  <script src ="main.js" defer></script>
  </head>

<body>
      <%- include('./partials/header.ejs') %>
  <div class ="container">
    <p class="heading"><i>To vote, click on your preferred candidate and party in the form below.<br><br><br>Please proceed....</i></p>
      <div class="poll">
    </div>
    </div>
        <%- include('./partials/footer.ejs') %>
  </body> 
  </html>  